@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row border-bottom">
        <h1>Job Tracker</h1>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-3 m-3 border text-center action-btn">Add</div>
        <div class="col-md-3 m-3 border text-center action-btn">Search</div>
        <div class="col-md-3 m-3 border text-center action-btn">Update</div>
    </div>
</div>
