

ul.sort-by{
  list-style: none;
}

body{
  background-image: linear-gradient(to left, rgb(240, 240, 240), white);
}

form{
  background-color:whitesmoke;
}

#new-job-form{
  box-shadow:gray 5px 3px 3px; 
}

#new-job-form .btn:hover{
  box-shadow: gray 5px 3px 3px;
}