.active:after{
  content: "\2713 ";
  color:black;
  width:25px;
  padding-left:0px;
  font-size:1.35rem;
}

ul.sort-by{
  list-style: none;
}

body{
  background-image: linear-gradient(to left, rgb(240, 240, 240), white);
}

form{
  background-color:whitesmoke;
}